In [1]:
import pandas as pd

# columns containing values, not varibles

In [2]:
pew = pd.read_csv("../data/pew.csv")

In [3]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [ ]:
# pd.melt()

In [4]:
pew.melt(id_vars=['religion'])

                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [12]:
pew_tidy = pew.melt(id_vars=['religion'], var_name='income', value_name='count')
pew_tidy

                  religion              income  count
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [11]:
# these all do the same thing
pew_tidy.groupby('income')['count'].sum()
pew_tidy.groupby('income')['count'].agg('sum')

import numpy as np
pew_tidy.groupby('income')['count'].agg(np.sum)

income
$10-20k               2781
$100-150k             3197
$20-30k               3357
$30-40k               3302
$40-50k               3085
$50-75k               5185
$75-100k              3990
<$10k                 1930
>150k                 2608
Don't know/refused    6121
Name: count, dtype: int64

In [ ]:
billboard =